
$theme-colors: (
  "primary": #795afa,
  "secondary": #fc5c7d,
  "success": #45b649,
  "danger": #f85032,
  "warning": #ffd700,
  "info": #00c9ff,
  "coffee": #3d3d3d,
  "blue": #795afa,
  "dark-blue": #224b8b,
  "roll-over": #795afa,
  "gray": #c2d4e0,
  "focus-box-shadow": rgba(121, 90, 250, 0.25)
);

$enable-gradients: true;

// card
//
$card-cap-bg: #fff;

// sidebar
$cr-sidebar-width: 244px;

$medium-width: 768px;
